<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <melthedev_meilisearch_credentials>
            <credentials>
                <search_api_ip>http://mel-search.test/</search_api_ip>
                <api_key>MASTER_KEY</api_key>
                <index_prefix>mel_magento2_</index_prefix>
                <enable_backend>1</enable_backend>
                <enable_frontend>1</enable_frontend>
                <debug>0</debug>
                <enable_query_suggestions_index>0</enable_query_suggestions_index>
            </credentials>
        </melthedev_meilisearch_credentials>
        <melthedev_meilisearch_autocomplete>
            <autocomplete>
                <is_popup_enabled>0</is_popup_enabled>
                <autocomplete_selector>.meilisearch-search-input</autocomplete_selector>
                <nb_of_products_suggestions>6</nb_of_products_suggestions>
                <nb_of_categories_suggestions>2</nb_of_categories_suggestions>
                <nb_of_queries_suggestions>0</nb_of_queries_suggestions>
                <min_popularity>1000</min_popularity>
                <min_number_of_results>2</min_number_of_results>
                <render_template_directives>1</render_template_directives>
                <debug>0</debug>
                <sections><![CDATA[{"_1600351750374_374":{"name":"pages","label":"Pages","hitsPerPage":"2"}}]]></sections>
                <excluded_pages><![CDATA[{"_1600351757831_831":{"attribute":"no-route"}}]]></excluded_pages>
                <navigator>1</navigator>
                <debounce_millisec>300</debounce_millisec>
                <minimum_char_length>0</minimum_char_length>
            </autocomplete>
        </melthedev_meilisearch_autocomplete>
        <melthedev_meilisearch_instant>
            <instant>
                <is_instant_enabled>0</is_instant_enabled>
                <instant_selector>.columns</instant_selector>
                <number_product_results>9</number_product_results>
                <max_values_per_facet>10</max_values_per_facet>
                <show_suggestions_on_no_result_page>1</show_suggestions_on_no_result_page>
                <facets><![CDATA[{"_1458145454535_587":{"attribute":"price","type":"slider","label":"Price","searchable":"2","create_rule":"2"},"_2541608784525_123":{"attribute":"categories","type":"conjunctive","label":"Categories","searchable":"2","create_rule":"2"},"_3211608784535_456":{"attribute":"color","type":"disjunctive","label":"Colors","searchable":"1","create_rule":"2"}}]]></facets>
                <sorts><![CDATA[{"_4581608784535_789":{"attribute":"price","sort":"asc","sortLabel":"Lowest price"},"_2541555584535_585":{"attribute":"price","sort":"desc","sortLabel":"Highest price"},"_5581608784535_898":{"attribute":"created_at","sort":"desc","sortLabel":"Newest first"}}]]></sorts>
                <instantsearch_searchbox>0</instantsearch_searchbox>
                <use_virtual_replica>0</use_virtual_replica>
                <replace_categories>1</replace_categories>
                <add_to_cart_enable>1</add_to_cart_enable>
                <infinite_scroll_enable>0</infinite_scroll_enable>
            </instant>
        </melthedev_meilisearch_instant>
        <melthedev_meilisearch_products>
            <products>
                <product_additional_attributes><![CDATA[{"_1581608784535_535":{"attribute":"name","searchable":"1","order":"unordered","retrievable":"1"},"_1581608793630_630":{"attribute":"sku","searchable":"1","order":"unordered","retrievable":"1"},"_1582212731087_87":{"attribute":"manufacturer","searchable":"1","order":"unordered","retrievable":"1"},"_1582212739021_21":{"attribute":"categories","searchable":"1","order":"unordered","retrievable":"1"},"_1582212749587_587":{"attribute":"color","searchable":"1","order":"unordered","retrievable":"1"},"_1582212776086_86":{"attribute":"price","searchable":"2","order":"unordered","retrievable":"1"},"_1582212790407_407":{"attribute":"rating_summary","searchable":"2","order":"unordered","retrievable":"1"}}]]></product_additional_attributes>
                <custom_ranking_product_attributes><![CDATA[{"_1600352070901_901":{"attribute":"in_stock","order":"desc"},"_1600352075148_148":{"attribute":"ordered_qty","order":"desc"},"_1600352080300_300":{"attribute":"created_at","order":"desc"}}]]></custom_ranking_product_attributes>
                <use_adaptive_image>0</use_adaptive_image>
                <index_out_of_stock_options>0</index_out_of_stock_options>
            </products>
        </melthedev_meilisearch_products>
        <melthedev_meilisearch_categories>
            <categories>
                <category_additional_attributes><![CDATA[{"_1582212881657_657":{"attribute":"name","searchable":"1","order":"unordered","retrievable":"1"},"_1582212904351_351":{"attribute":"path","searchable":"1","order":"unordered","retrievable":"1"},"_1582212910660_660":{"attribute":"meta_title","searchable":"1","order":"unordered","retrievable":"1"},"_1582212915890_890":{"attribute":"meta_keywords","searchable":"1","order":"unordered","retrievable":"1"},"_1582212922533_533":{"attribute":"meta_description","searchable":"1","order":"unordered","retrievable":"1"},"_1582212927307_307":{"attribute":"product_count","searchable":"2","order":"unordered","retrievable":"1"}}]]></category_additional_attributes>
                <custom_ranking_category_attributes><![CDATA[{"_1600352142072_72":{"attribute":"product_count","order":"desc"}}]]></custom_ranking_category_attributes>
            </categories>
        </melthedev_meilisearch_categories>
        <melthedev_meilisearch_images>
            <image>
                <width>265</width>
                <height>265</height>
                <type>product_base_image</type>
            </image>
        </melthedev_meilisearch_images>
        <melthedev_meilisearch_queue>
            <queue>
                <active>0</active>
                <number_of_job_to_run>5</number_of_job_to_run>
                <number_of_retries>3</number_of_retries>
            </queue>
        </melthedev_meilisearch_queue>
        <melthedev_meilisearch_advanced>
            <advanced>
                <number_of_element_by_page>300</number_of_element_by_page>
                <remove_words_if_no_result>allOptional</remove_words_if_no_result>
                <partial_update>0</partial_update>
                <customer_groups_enable>0</customer_groups_enable>
                <remove_pub_dir_in_url>0</remove_pub_dir_in_url>
                <make_seo_request>1</make_seo_request>
                <remove_branding>0</remove_branding>
                <index_product_on_category_products_update>1</index_product_on_category_products_update>
                <prevent_backend_rendering>0</prevent_backend_rendering>
                <archive_clear_limit>30</archive_clear_limit>
                <max_record_size_limit>10000</max_record_size_limit>
            </advanced>
        </melthedev_meilisearch_advanced>
    </default>
</config>
